.text-content {
  text-align: justify;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.6;
}

.text-bold {
  font-weight: bold;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.active {
  font-weight: bold;
}

.nav-link {
  color: black !important;
  font-size: 23px;
}

.light {
  background-color: white !important;
}

.card-container {
  height: 523px;
  position: relative;
  background-color: #e7e7e7;
  display: inline-block;
  border-radius: 1rem;
  margin: 26px 26px 0 0;
}

.card-detail-container {
  position: absolute;
  bottom: 0;
  background-color: #ffcc00;
  width: 100%;
  text-align: center;
  border-radius: 0 0 1rem 1rem;
  padding: 18px 0;
}

.card-detail-name {
  font-size: 23px;
  font-weight: bold;
  margin: 0;
}

.card-detail-position {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.card-linkedin {
  position: absolute;
  top: 25px;
  right: 25px;
}
