@media screen and (min-width: 992px) {
  .navbar-container {
    background-color: white !important;
  }
}

@media screen and (max-width: 991px) {
  .logo {
    max-width: 6rem;
  }
  .banner-image {
    height: 80vh !important;
  }
  .navbar-container {
    background-color: transparent;
  }
  .text-content {
    font-weight: normal !important;
    font-size: 0.75rem + 1vw !important;
    line-height: 1.5 !important;
  }
  .image1 {
    aspect-ratio: initial !important;
  }
  .bullet-icon {
    width: 0.625rem !important;
    height: 0.625rem !important;
  }
  .nav-link {
    font-size: 0.875rem !important;
  }
  .button-navbar {
    font-size: 0.875rem !important;
  }
  .active {
    background-color: #fff9cc !important;
  }
  .team-container {
    display: none !important;
  }
}

.logo {
  width: 11.25rem;
  height: auto;
}

.banner-image {
  height: 70vh;
  object-fit: cover;
}

.navbar-container {
  background-color: white;
  color: black;
}

.text-content {
  text-align: justify;
  font-weight: bold;
  font-size: 1.5625rem;
  line-height: 1.8;
}

.text-bold {
  font-weight: bold;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.image2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.active {
  font-weight: bold;
}

.nav-link {
  color: black !important;
  font-size: 1.4375rem;
}

.button-navbar {
  font-size: 1.4375rem;
}

.light {
  background-color: white !important;
}

.card-container {
  height: 32.6875rem;
  position: relative;
  background-color: #e7e7e7;
  display: inline-block;
  border-radius: 1rem;
  margin: 1.625rem 1.625rem 0 0;
}

.card-detail-container {
  position: absolute;
  bottom: 0;
  background-color: #ffcc00;
  width: 100%;
  text-align: center;
  border-radius: 0 0 1rem 1rem;
  padding: 1.125rem 0;
}

.card-detail-name {
  font-size: 1.4375rem;
  font-weight: bold;
  margin: 0;
}

.card-detail-position {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 0;
}

.card-linkedin {
  position: absolute;
  top: 1.5625rem;
  right: 1.5625rem;
}

footer {
  background-color: #0e9749;
  color: white;
}

.footer-container {
  padding: 2.8125rem 5.9375rem 1.125rem 5.9375rem;
}

.white-logo {
  filter: brightness(0) invert(1);
  width: 9.375rem;
  height: auto;
}

.copyright {
  font-size: 0.75rem;
}

.size-12 {
  font-size: 0.75rem;
}

.size-18 {
  font-size: 1.125rem;
}

.address {
  width: 12.1875rem;
}

.lang-bar {
  width: 1.625rem;
  height: 0.3125rem;
}

.bullet-icon {
  width: 1.125rem;
  height: 1.125rem;
}
.navbar-toggler {
  color: green;
  border: 0 !important;
  box-shadow: none !important;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27><path stroke=%27rgba%2814, 151, 73, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/></svg>') !important;
}

.team-container {
  display: flex;
}
